@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); /* Добавим еще один шрифт для разнообразия */

* {
    margin: 0;
    font-family: 'Inter', sans-serif; 
}

header>* {
    display: inline-block;
    width: 450px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Inter', sans-serif; 
}

.none {
    width: 46%;
}

header {
    padding: 5px 5%;
    background-color: #A60400;
    position: fixed;
    width: 100%;
}

body {
    background-image: url(TABS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.post {
    padding: 20px;
    text-align: center;
    background-color: #FF7673;
    display: flex;
    justify-content: space-around;
}

.banner {
    padding: 15%;
}

main a{
    background-color: #FF4540;
    width: 173px;
    height: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.button>* {
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: rgb(48, 29, 129);
}

#description {
    background-color: #DD3935;
    padding: 10%;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

#description p {
    display: inline-block;
    vertical-align: top;
}

#description img {
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
    width: 550px;
    height: auto;
}

#description2 {
    width: 900px;
}

#video {
    background-color: #FA8989;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
}

.none2 {
    height: 100px;
}

footer {
    background-color: #310202;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: large;
    padding: 1% 10%;
    font-family: 'Inter', sans-serif;
}
